/* ====================== */
/* ==== BLOG SECTION ==== */
/* ====================== */
.blog-intro-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/lens.jpg) center/cover;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-intro-section--h1 {
  padding: 0 2rem;
  font-weight: 400;
  font-size: 2.5rem;
  color: white;
}
.blog-main-section {
  width: 60%;
  margin: 0 auto;
}
.blog-post-toc {
  scroll-margin-top: 10rem;
  text-align: center;
  /* width: 80%;
  margin: 0 auto; */
}
.blog-post-toc-h2 {
  text-align: center;
  font-weight: 600;
  color: #4d4d4d;
  margin: 3rem 0 2rem;
}
.blog-post-toc a {
  text-decoration: none;
  font-weight: 300;
  color: black;
}
.blog-post-toc li {
  list-style: none;
  padding-bottom: 0.3rem;
  transition: text-shadow 0.3s ease;
}
.blog-post-toc li:hover,
.blog-post-toc li:active {
  text-shadow: 1px 1px 1px rgb(114, 114, 114);
}
.blog-post-article {
  border: 1px solid #85858533;
  margin: 3rem 0;
  padding: 1.5rem;
  /* scroll-margin-top sets the default top when using a id-link */
  scroll-margin-top: 10rem;
  transition: box-shadow 0.3s ease;
}
.blog-post-article:hover,
.blog-post-article:active {
  box-shadow: 0px 0px 5px #4e4e4e;
}
.blog-post-link {
  text-decoration: none;
  color: black;
}
.blog-post-h2 {
  color: #4d4d4d;
  font-weight: 600;
}
.blog-post-image {
  height: auto;
  max-width: 100%;
  padding: 1rem 0;
}
.blog-post-p {
  padding: 1rem 0;
  font-weight: 300;
}
.blog-post-button {
  color: black;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
  border-radius: 3px;
}
.fa-arrow-up {
  font-size: 0.6rem;
}
.blog-post-button:hover,
.blog-post-button:active {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
.blog-post-button-group {
  display: flex;
  justify-content: space-between;
}
/* ===================== */
/* === MEDIA QUERIES === */
/* ===================== */
/* 320px — 480px: Mobile devices. 481px — 768px: iPads, Tablets. 769px — 1024px: Small screens, laptops. 1025px — 1200px: Desktops, large screens. */
@media (max-width: 1024px) {
  .blog-intro-section {
    height: 32vh;
  }
  .blog-intro-section--h1 {
    font-size: 2.3rem;
    text-align: center;
  }
  .blog-post-toc {
    scroll-margin-top: 10.5rem;
  }
  .blog-main-section {
    width: 80%;
  }
  .blog-post-article {
    scroll-margin-top: 10.5rem;
  }
}
@media (max-width: 768px) {
  .blog-main-section {
    width: 95%;
  }
}
@media (max-width: 480px) {
  .blog-intro-section {
    height: 20vh;
  }
  .blog-intro-section--h1 {
    font-size: 2rem;
    line-height: 1.1;
  }
  .blog-post-toc {
    scroll-margin-top: 11.5rem;
  }
  .blog-post-toc-h2 {
    margin: 2rem 0 1rem;
  }
  .blog-post-toc a {
    text-align: center;
  }
  .blog-post-toc li {
    padding: 0.5rem;
  }
  .blog-post-article {
    margin: 2rem 0;
    scroll-margin-top: 11.5rem;
  }
}
