/* Put the disclaimer at the bottom of the footer, separate sections with a line - mobile response */

.header-dropdown {
  top: 6rem;
}
.header-blog-title {
  font-size: 2rem;
  color: white;
}
/* ====================== */
/* ==== BLOG SECTION ==== */
/* ====================== */
.blog-intro-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/lens.jpg) center/cover;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-intro-section--h1 {
  padding: 0 2rem;
  font-weight: 400;
  font-size: 2.5rem;
  color: white;
  /* text-shadow: 3px 2px 5px #fff; */
}
.blog-main-section {
  width: 60%;
  margin: 0 auto;
}
.blog-post-article {
  border: 1px solid #85858533;
  margin: 3rem 0;
  padding: 1rem;
}
.blog-post-article:hover,
.blog-post-article:active {
  box-shadow: 3px 3px #85858533;
}
.blog-post-link {
  text-decoration: none;
  color: black;
}
.blog-post-h2 {
  color: #4d4d4d;
  font-weight: 600;
}
.blog-post-image {
  height: auto;
  max-width: 100%;
  padding: 1rem 0;
}
.blog-post-p {
  padding: 1rem 0;
  font-weight: 300;
}
.blog-post-button {
  color: black;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0 0.25rem;
  font-size: 0.75rem;
  border-radius: 3px;
}
.blog-post-button:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
/* ===================== */
/* === MEDIA QUERIES === */
/* ===================== */
/* 320px — 480px: Mobile devices. 481px — 768px: iPads, Tablets. 769px — 1024px: Small screens, laptops. 1025px — 1200px: Desktops, large screens. */
@media (max-width: 1024px) {
  .header {
    background-color: red;
  }
}
@media (max-width: 768px) {
  .header {
    background-color: green;
  }
}
@media (max-width: 480px) {
  .header {
    background-color: orange;
  }
}
