.product-article-section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* width: 80%; */
  max-width: 80rem;
}
.product-article {
  border: 1px solid #85858533;
  margin: 2rem 0 1.5rem;
  padding: 1.5rem;
  scroll-margin-top: 10rem;
}
.product-article-image-container {
  position: relative;
}
.product-article-tagline {
  position: absolute;
  background-color: green;
  border: 1px solid black;
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 700;
  bottom: 1.4rem;
  padding: 0.2rem 0.7rem;
}
.product-article-image {
  max-width: 100%;
  padding: 1rem 0;
}
.product-article h2,
.product-article h3,
.product-article-aside-container h3 {
  color: #4d4d4d;
  font-weight: 600;
}
.product-article p {
  font-weight: 300;
}
.product-article p {
  padding: 0 0 1.25rem;
}
.product-article-group {
  display: flex;
  justify-content: space-between;
}
.product-article-button {
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
  border-radius: 3px;
}
.product-article-button:hover,
.product-article-button:active {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
.product-article-button a {
  line-height: normal;
}
.product-article-button-previous {
  display: none;
}
.product-article-button-next {
  margin: 0 0 0 1rem;
}
/* ===================== */
/* ===== TOP-PICKS ===== */
/* ===================== */
.product-article-top-picks-container {
  display: flex;
  flex-direction: column;
}
.product-top-picks {
  position: relative;
  margin: 0 0 4rem;
}
.product-top-picks::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #85858533;
  transform: translateX(50%);
  margin-bottom: 1rem;
}
.product-article h3 {
  margin: 1rem 0;
  text-align: center;
  scroll-margin-top: 10.5rem;
}
.product-article-top-picks-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0.5rem 0 0;
  font-size: 0.8rem;
  height: 100%;
}
.item-number {
  width: 5%;
}
.item-image {
  width: 15%;
  border-radius: 0.3rem;
  max-height: 3rem;
  object-fit: cover;
}
.item-description {
  color: green;
  padding: 0.5rem;
  width: 50%;
}
.item-description a {
  color: #333333;
  text-decoration: none;
}
.item-description a {
  transition: text-shadow 0.3s ease;
}
.item-description a:hover,
.item-description a:active {
  text-shadow: 1px 1px 1px rgb(114, 114, 114);
}
.item-rating {
  width: 10%;
}
.fa-star {
  color: #ffc000;
  text-shadow: 1px 1px black;
  padding-left: 0.55px;
}
.item-button {
  white-space: nowrap;
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  background-color: #ffc000;
  border-radius: 0.3rem;
}
.item-button:hover,
.item-button:active {
  /* transform: scale(1.05); */
  box-shadow: 0 0 2px black;
}
.product-top-picks-container h3 {
  margin-top: 2.5rem;
  padding: 0;
  scroll-margin-top: 10rem;
}
.product-top-pick-image-div {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.product-top-pick-image-div p {
  width: 75%;
  padding: 0;
}
.product-top-pick-image-div img {
  width: 75%;
  object-fit: cover;
  padding: 1rem;
}
.product-top-picks h4 {
  padding: 0 0 1.25rem;
  scroll-margin-top: 9.5rem;
}
.product-top-picks ul {
  padding-left: 1.3rem;
}
.product-top-picks li {
  padding: 0 0 0.5rem;
}
.product-top-picks-procon-container {
  display: flex;
  justify-content: space-around;
  scroll-margin-top: 8rem;
}
.product-top-picks-procon {
  width: 45%;
  font-size: 0.9rem;
}
.product-top-picks-button-container {
  margin: 1.5rem auto 0;
  text-align: center;
}
.product-top-picks-button {
  padding: 0.5rem;
  background-color: #ffc000;
  border-radius: 0.3rem;
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
}
.product-top-picks-button:hover,
.product-top-picks-button:active {
  box-shadow: 0 0 2px black;
}
.product-top-picks-button-group a{
  position: absolute;
  color:black;
  bottom: 0;
  left: 2rem;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
  border-radius: 3px;
}
.product-top-picks-button-group a:hover,
.product-top-picks-button-group a:active{
    color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
/* ======================== */
/* ===== PRODUCT-ASIDE===== */
/* ======================== */
.product-article-aside-container {
  position: sticky;
  top: 11rem;
  width: 100%;
  height: 75vh;
  overflow-y: auto;
  margin-bottom: 2rem;
  padding-left: 4rem;
}
.product-article-aside-container h3 {
  position: sticky;
  top: 0;
  padding-right: 1.5rem;
  text-align: center;
  background-color: #f5f5f5;
  box-shadow: 0 3px 4px #f5f5f5;
}
.product-aside-content-index {
  padding-right: 1rem;
  font-size: 0.8rem;
}
.product-aside-content-index a {
  color: #4d4d4d;
  text-decoration: none;
}
.product-aside-content-index li {
  transition: text-shadow 0.2s ease;
}
.product-aside-content-index li:hover,
.product-aside-content-index li:active {
  text-shadow: 1px 1px 1px rgb(114, 114, 114);
}
.product-aside-item {
  margin: 1rem 0 0;
  list-style: none;
}
.product-aside-item-pros-cons,
.product-aside-item-specs {
  margin: 0;
  list-style-type: disc;
  margin-left: 1rem;
}
/* ===================== */
/* === MEDIA QUERIES === */
/* ===================== */
/* (320px — 480px: Mobile devices), (481px — 768px: iPads, Tablets), (769px — 1024px: Small screens, laptops), (1025px — 1200px: Desktops, large screens) */
@media (max-width: 1024px) {
  .product-article-section {
    width: 95%;
  }
  .product-article-aside-container {
    width: 30%;
  }
  .product-article-h2 {
    line-height: 1.2;
  }
  .product-article p {
    font-size: 0.9rem;
    line-height: 1.3;
  }
}
@media (max-width: 768px) {
  .product-article {
    margin: 1rem 0;
    padding: 0.5rem;
    scroll-margin-top: 11rem;
  }
  .product-article-h2 {
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .product-article h3 {
    line-height: 1.2;
    padding: 0 0 0.5rem;
  }
  .product-article p {
    padding: 0 0 0.75rem;
  }
  .product-article-aside-container {
    height: 80vh;
  }
  .product-article-aside-container h3 {
    padding-bottom: 0;
  }
  .product-aside-h4 {
    font-weight: 300;
    font-size: 0.7rem;
  }
  .product-aside-item {
    margin: 0;
    padding: 0.2rem;
  }
}
@media (max-width: 480px) {
  .product-article h3 {
    font-size: 1.25rem;
  }
  .product-article p {
    font-size: 1.1rem;
  }
  .product-article-aside-container {
    display: none;
  }
}
