@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}
/* === HEADER === */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 3px 3px #1f1f1f;
}
.header-logo {
  text-decoration: none;
  font-size: 2rem;
}
.header-logo-span {
  color: #009c00;
  font-weight: 900;
  font-size: 2.1rem;
}
.header-center-title {
  font-size: 2rem;
  color: white;
}
.header li,
.header a {
  color: white;
  list-style-type: none;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
  width: 80%;
  max-width: 75rem;
}
.header-product-links-container {
  padding: 0 0 1.5rem;
  width: 75%;
}
.header-product-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-product-links a {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 2px;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  text-align: center;
}
.header-product-links a:hover,
.header-product-links a:active {
  box-shadow: 0 0 1px 2px #d4d4d4;
}
/* ====================== */
/* === FOOTER === */
/* ====================== */
.footer {
  background-color: black;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 75rem;
  margin: 0 auto;
}
.footer-section-container {
  margin: 1.5rem 0 1.5rem;
  max-width: 33%;
  font-size: 0.88rem;
}
.footer-section-container a {
  color: white;
}
.footer-section-container--h3 {
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
  margin: 0.5rem 0 1rem;
}
.footer-links,
.footer-affiliate-disclaimer {
  margin: 1rem 0;
}
.footer-posts {
  margin: 0.5rem 0;
}
.footer-logo {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.footer-logo-span {
  color: #009c00;
  font-weight: 900;
  font-size: 1.6rem;
}
.footer-affiliate-disclaimer {
  color: white;
}
/* ===================== */
/* === MEDIA QUERIES === */
/* ===================== */
/* 320px — 480px: Mobile devices. 481px — 768px: iPads, Tablets. 769px — 1024px: Small screens, laptops. 1025px — 1200px: Desktops, large screens. */

/* MEDIA 1024PX */
/* MEDIA 768PX */
@media (max-width: 768px) {
  .header-nav,
  .footer-section {
    width: 90%;
  }
  .header-center-title {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .header-links li {
    text-align: center;
  }
  .header-product-links-container {
    width: 90%;
  }
}
/* MEDIA 580PX */
@media (max-width: 580px) {
  .header-center-title {
    display: none;
  }
  .footer-section {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.1rem 0 0;
    text-align: center;
    position: relative;
  }
  .footer-section-container {
    max-width: 100%;
    margin-bottom: 0;
  }
  .footer-section-container-when-last {
    margin: 8rem 0 0;
  }
  .footer-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem;
  }
  .footer-links-last {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }
}
/* MEDIA 480PX */
@media (max-width: 480px) {
  .header-logo {
    font-size: 1.8rem;
  }
  .header-logo-span {
    font-size: 1.9rem;
  }
  .footer-section-container {
    max-width: 100%;
  }
}
