
/* MEDIA 1024PX */
/* MEDIA 768PX */
@media (max-width: 768px) {
  .header-links {
    width: 70%;
    justify-content: space-evenly;
  }
  .header-nav,
  .footer-section {
    width: 90%;
  }
  .header-dropdown {
    right: 1.75rem;
  }
}
/* MEDIA 580PX */
@media (max-width: 580px) {
  .footer-section {
    display: block;
    padding: 0.1rem 0 0;
    text-align: center;
  }
  .footer-section-container {
    max-width: 100%;
    margin-bottom: 0;
  }
  .footer-links-last {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }
}
/* MEDIA 480PX */
@media (max-width: 480px) {
  .header-logo {
    font-size: 1.8rem;
  }
  .header-logo-span {
    font-size: 1.9rem;
  }
  .header-links--first {
    display: none;
  }
  .header-dropdown-small {
    display: flex;
  }
  .header-dropdown-small li {
    padding: 0 0.5rem 1rem;
    text-align: center;
  }
  .footer-section {
    display: block;
  }
  .footer-section-container {
    max-width: 100%;
  }
}
/* MEDIA 1024PX */
/* MEDIA 768PX */
@media (max-width: 768px) {
  .header-links {
    width: 70%;
    justify-content: space-evenly;
  }
  .header-nav,
  .footer-section {
    width: 90%;
  }
  .header-dropdown {
    right: 1.75rem;
  }
}
/* MEDIA 580PX */
@media (max-width: 580px) {
  .footer-section {
    display: block;
    padding: 0.1rem 0 0;
    text-align: center;
  }
  .footer-section-container {
    max-width: 100%;
    margin-bottom: 0;
  }
  .footer-links-last {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }
}
/* MEDIA 480PX */
@media (max-width: 480px) {
  .header-logo {
    font-size: 1.8rem;
  }
  .header-logo-span {
    font-size: 1.9rem;
  }
  .header-links--first {
    display: none;
  }
  .header-dropdown-small {
    display: flex;
  }
  .header-dropdown-small li {
    padding: 0 0.5rem 1rem;
    text-align: center;
  }
  .footer-section {
    display: block;
  }
  .footer-section-container {
    max-width: 100%;
  }
}