/* body {
  background: whitesmoke;
  color: whitesmoke;
  font-family: "Britannic", sans-serif;
  font-weight: normal;
  margin: 25px;
  text-align: center;
}
h1 {
  font-size: 150px;
  text-shadow: 0 0 10px #6c6c6c;
  padding: 0 15px;
  margin: 0;
}

.box-shadow {
  border: 2px solid;
  width: 980px;
  box-shadow: 0 0 10px #6c6c6c;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}
/* === HEADER === */
.header {
  background-color: black;
}
.header-logo {
  text-decoration: none;
  font-size: 2rem;
}
.header-logo-span {
  color: #009c00;
  font-weight: 900;
  font-size: 2.1rem;
}
.header li,
.header a {
  color: white;
  list-style-type: none;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
  width: 80%;
  max-width: 75rem;
}
.header-links {
  display: flex;
}
.header-links li {
  margin-left: 1rem;
}
.header-links--first {
  text-decoration: underline;
  cursor: pointer;
}
.header-dropdown {
  display: none;
  position: absolute;
  top: 7rem;
  padding: 1rem 1rem 1rem 0;
  border-radius: 0.2rem;
  border: 0.06rem solid rgba(255, 255, 255, 0.466);
  animation: dropdown 1s ease-in-out;
}
/* .header-dropdown > li {
  color: black;
} */

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-0.63rem);
  }
  50% {
    transform: translateY(0.63rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ==================== */
/* === MAIN PRIMARY === */
/* ==================== */
.main-primary {
  background-color: #008000;
  height: calc(100vh - 5.125rem);
}
.main-primary-section {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
.main-primary-section--h1 {
  margin: 2rem 0 0 0;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.1;
}
.main-primary-section--p {
  font-size: 1.25rem;
  margin: 1rem 0;
  position: relative;
  text-transform: uppercase;
}
.main-primary-section--h1,
.main-primary-section--p {
  width: 75%;
  text-shadow: 0.19rem 0.13rem 0.31rem black;
}
.main-primary-section--p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2.5rem;
  border-bottom: 0.13rem solid #fff;
  width: 20%;
}
.main-primary-section--grid {
  margin: 2.5rem 0;
  display: grid;
  height: 80%;
  gap: 0.5rem;
}
.main-primary-section--grid__image-one {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/camera.jpg) center/cover;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.main-primary-section--grid__image-two {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/lens.jpg) center/cover;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.main-primary-section--grid__image-three {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/memory.jpg) center/cover;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.main-primary-section--grid__image-four {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/camera2.jpg) center/cover;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.main-primary-section--grid__image-five {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/lenses.jpg) center/cover;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.main-primary-section--grid__image {
  border: 0.06rem solid rgb(75, 75, 75);
  border-radius: 0.2rem;
  position: relative;
  transition: transform 0.3s ease;
}
.main-primary-section--grid__image p {
  color: white;
  padding: 0.75rem;
  position: absolute;
  bottom: 0;
  text-transform: capitalize;
  text-shadow: 0.19rem 0.13rem 0.31rem black;
}
.main-primary-section--grid__image-one p {
  font-size: 1.75rem;
}
.main-primary-section--grid__image:hover,
.main-primary-section--grid__image:active {
  box-shadow: 0 0 0.31rem 0.31rem #313131;
  transform: translate(0.19rem, -0.19rem);
}
/* ====================== */
/* === MAIN SECONDARY === */
/* ====================== */

/* add an arrow to the image boxes that fades in when hovered */

.main-secondary {
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  width: 80%;
  margin: 0 auto;
}
.main-secondary-section--span {
  color: #a68ba5;
  margin-top: 3.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px #a68ba5;
}
.main-secondary-section--h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  text-shadow: 2px 2px 2px rgb(146, 146, 146);
}

.main-secondary-section--grid {
  display: grid;
  gap: 1.5rem;
  margin: 3.5rem 0;
}
.main-secondary-section--grid a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 3px 2px 3px black;
}
.main-secondary-section--grid__image-one {
  background: linear-gradient(#ffca3a80, #ffca3a80),
    url(./images/pexels-fujifilm-north-america-3497126.jpg) center/cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.main-secondary-section--grid__image-two {
  background: linear-gradient(#00cfc180, #00cfc180),
    url(./images/pexels-dan-cristian-pădureț-1422217.jpg) center/cover;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.main-secondary-section--grid__image-three {
  background: linear-gradient(#ffca3a80, #ffca3a80),
    url(./images/pexels-dan-cristian-pădureț-1422218.jpg) center/cover;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.main-secondary-section--grid__image-four {
  background: linear-gradient(#a68ba580, #a68ba580),
    url(./images/pexels-dan-cristian-pădureț-1422220.jpg) center/cover;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.main-secondary-section--grid__image-five {
  background: linear-gradient(#ff654280, #ff654280),
    url(./images/pexels-fujifilm-north-america-3497060.jpg) center/cover;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.main-secondary-section--grid__image-six {
  background: linear-gradient(#a68ba580, #a68ba580),
    url(./images/pexels-alex-andrews-1983038.jpg) center/cover;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.main-secondary-section--grid__image {
  padding: 2rem;
  line-height: 1.1;
  border-radius: 3px;
  outline: 2px solid #ffffff;
  outline-offset: -10px;
}
.main-secondary-section--grid__image span {
  font-size: 0.7rem;
}
.main-secondary-section--grid__image h2 {
  margin: 1rem 0 2rem;
  font-size: 1.25rem;
}
.main-secondary-section--grid__image:hover {
  animation: outline 0.5s ease-out forwards;
}
@keyframes outline {
  0% {
    outline-offset: -10px;
  }
  50% {
    outline: 5px solid rgba(255, 255, 255, 0.5);
  }
  100% {
    outline-offset: 0px;
    outline: 0.1px solid transparent;
    transform: scale(1.025);
  }
}
/* ====================== */
/* === MAIN CONTACT === */
/* ====================== */
.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 1rem auto 5rem;
  max-width: 75rem;
  background-color: #ffca3a;
  color: white;
  text-shadow: 3px 2px 3px black;
  border-radius: 1rem;
}
.main-contact-span {
  font-weight: 700;
  margin-top: 3rem;
}
.main-contact-h2 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.1;
  width: 50%;
  margin: 2.5rem 0 3rem;
}
.main-contact-button {
  background-color: #008000;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}
.main-contact-button:hover,
.main-contact-button:active {
  box-shadow: 0 0 1px 3px #00800080;
}
/* ====================== */
/* === MAIN FOOTER === */
/* ====================== */
.footer {
  background-color: black;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 75rem;
  margin: 0 auto;
}
.footer-section-container {
  margin: 1.5rem 0 1.5rem;
  max-width: 33%;
  font-size: 0.88rem;
}
.footer-section-container a {
  color: white;
}
.footer-section-container--h3 {
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
  margin: 0.5rem 0 1rem;
}
.footer-links,
.footer-affiliate-disclaimer {
  margin: 1rem 0;
}
.footer-posts {
  margin: 0.5rem 0;
}
.footer-logo {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.footer-logo-span {
  color: #009c00;
  font-weight: 900;
  font-size: 1.6rem;
}
.footer-affiliate-disclaimer {
  color: white;
}
/* ===================== */
/* === MEDIA QUERIES === */
/* ===================== */
/* 320px — 480px: Mobile devices. 481px — 768px: iPads, Tablets. 769px — 1024px: Small screens, laptops. 1025px — 1200px: Desktops, large screens. */
@media (max-width: 1024px) {
  .main-primary-section--grid {
    height: 50%;
    margin-top: 5rem;
  }
  .main-primary-section--h1,
  .main-primary-section--p {
    width: 67%;
  }
  .main-secondary-section--span {
    margin-top: 1.75rem;
  }
  .main-secondary-section--grid {
    margin: 1.75rem 0;
  }
  .main-secondary-section--grid__image-one {
    background: linear-gradient(#ffca3a80, #ffca3a80),
      url(./images/pexels-fujifilm-north-america-3497126.jpg) center/cover;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .main-secondary-section--grid__image-two {
    background: linear-gradient(#a68ba580, #a68ba580),
      url(./images/pexels-dan-cristian-pădureț-1422217.jpg) center/cover;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .main-secondary-section--grid__image-three {
    background: linear-gradient(#ff654280, #ff654280),
      url(./images/pexels-dan-cristian-pădureț-1422218.jpg) center/cover;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .main-secondary-section--grid__image-four {
    background: linear-gradient(#00cfc180, #00cfc180),
      url(./images/pexels-dan-cristian-pădureț-1422220.jpg) center/cover;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .main-secondary-section--grid__image-five {
    background: linear-gradient(#a68ba580, #a68ba580),
      url(./images/pexels-fujifilm-north-america-3497060.jpg) center/cover;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .main-secondary-section--grid__image-six {
    background: linear-gradient(#ffca3a80, #ffca3a80),
      url(./images/pexels-alex-andrews-1983038.jpg) center/cover;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .main-contact {
    margin: 0 auto 1.75rem;
  }
}
@media (max-width: 768px) {
  .header {
    background-color: red;
  }
  .header-links {
    width: 70%;
    justify-content: space-evenly;
  }
  .header-nav,
  .main-primary-section,
  .main-secondary,
  .main-contact,
  .footer-section {
    width: 90%;
  }
  .header-dropdown {
    right: 1.75rem;
  }
  .main-primary-section--h1 {
    font-size: 2rem;
    width: 62%;
    margin: 1rem 0 0;
  }
  .main-primary-section--p {
    font-size: 1rem;
  }
  .main-primary-section--grid {
    height: 100%;
    margin-top: 0;
  }
  .main-primary-section--grid__image-one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .main-primary-section--grid__image-two {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .main-primary-section--grid__image-three {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .main-primary-section--grid__image-four {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .main-primary-section--grid__image-five {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}
@media (max-width: 580px) {
  .main-secondary-section--grid__image-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .main-secondary-section--grid__image-two {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .main-secondary-section--grid__image-three {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .main-secondary-section--grid__image-four {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .main-secondary-section--grid__image-five {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .main-secondary-section--grid__image-six {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  .main-contact-span {
    width: 65%;
    text-align: center;
    margin-top: 1rem;
  }
  .main-contact-h2 {
    font-size: 1.5rem;
    margin: 1rem 0 1.5rem;
  }
  .main-contact-button {
    margin-bottom: 1rem;
  }
  .footer-section {
    display: block;
    padding: 0.1rem 0 0;
    text-align: center;
  }
  .footer-section-container {
    max-width: 100%;
    margin-bottom: 0;
  }
  .footer-links-last {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 480px) {
  .header {
    background-color: purple;
  }
  .footer-section {
    display: block;
  }
  .footer-section-container {
    max-width: 100%;
  }
}
