body {
  background: whitesmoke;
  color: whitesmoke;
  font-family: "Britannic", sans-serif;
  font-weight: normal;
  margin: 25px;
  text-align: center;
}
h1 {
  font-size: 150px;
  text-shadow: 0 0 10px #6c6c6c;
  padding: 0 15px;
  margin: 0;
}

.box-shadow {
  border: 2px solid;
  width: 980px;
  box-shadow: 0 0 10px #6c6c6c;
}
